<h1>Image Upload demo</h1>
<div>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit(form)">
    <div fxLayout="row" fxLayoutAlign="start none" class="px-1">
      <div fxFlex="33" *ngFor="let img of imageUrls; let i = index">
        <label class="cabinet center-block">
          <figure>
            <img [src]="img.url" class="img-responsive img-thumbnail" />
            <figcaption><i class="fa fa-pencil-square-o"></i></figcaption>
          </figure>
          <button mat-mini-fab type="button" color="warn" (click)="removeImage(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </label>
      </div>
      <div fxFlex="33" *ngIf="imageUrls?.length != 3">
        <label class="cabinet center-block">
          <figure>
            <div class="add-image">
              <mat-icon style="font-size: 100px">add_a_photo</mat-icon>
            </div>
          </figure>
          <input type="file" class="center-block" name="image" (change)="editImageWindow($event)" />
        </label>
      </div>
    </div>
    <br>
    <div class="upload-button">
      <button mat-stroked-button color="primary">Upload</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>